.sideBar{
    background-color: #374c98;
    width: 305px;
    height: 808px;
}

.content ul{
    list-style: none;
    overflow: hidden;
}

.content ul li{
    display: flex;
    align-items: center;
}

.content a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.content_p1{
    border-top: 1px solid #5369B6;
    border-bottom: 1px solid #5369B6;
}

.head_p1{
    padding: 20px 20px 20px 263px;
}

.head_p2{
    display: flex;
}